:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(46, 52, 64);
    --entry: rgb(46, 52, 64);
    --primary: rgb(216, 222, 233);
    --secondary: rgb(163, 190, 140);
    --tertiary: rgb(173, 216, 230); /* White-blue */
    --content: rgb(208, 208, 208);
    --code-block-bg: rgb(40, 44, 52);
    --code-bg: rgb(47, 54, 64);
    --border: rgb(51, 51, 51);
}

.dark {
    --theme: rgb(46, 52, 64);
    --entry: rgb(46, 52, 64);
    --primary: rgb(216, 222, 233);
    --secondary: rgb(163, 190, 140);
    --tertiary: rgb(187, 223, 233);
    --content: rgb(208, 208, 208);
    --code-block-bg: rgb(40, 44, 52);
    --code-bg: rgb(47, 54, 64);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
